body, html {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    -70deg,
    rgb(20,20,20),
    rgb(40,40,40)
  );
  /* cursor: none; */
}

:root {
  --g1: #DC0000;
  --g2: #520707;
  --g3: #16c599;
  --g4: #0e5a47;
  --g5: #00d2ff;
  --g6: #3a7bd5;
  --g7: #654ea3;
  --g8: #eaafc8;
  --size: 50;
}

@keyframes background-pan {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes bobbing {
  0%, 100% {
    translate: 0px -3px;
  }
  50% {
    translate: 0px 3px;
  }
}

@keyframes appear {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
@keyframes disappear {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
@keyframes disappearText {
  100% {
    font-size: 0;
  }
}

@keyframes aboutBox {
  0% {
    scale: 0;
    width: 0;
    height: 0;
  }
  10% {
    scale: 1;
    width: 0;
    height: 0;
  }
  50%, 60% {
    height: 0;
  }
}
@keyframes aboutBoxDisappear {
  50% {
    height: 0;
    scale: 1;
  }
  95% {
    height: 0;
    width: 0;
    scale: 1;
  }
  100% {
    scale: 0;
    height: 0;
    width: 0;
  }
}

/* .tile p {
  
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  
} */

/* HOME TEXT ENTRY & EXIT ANIMATIONS */

.delay-0ms {
  /* font-size: 0; */
  scale: 0;
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;
  animation-delay: 0ms;
}
.delay-100ms {
  /* font-size: 0; */
  scale: 0;
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;

  animation-delay: 100ms;
}
.delay-200ms {
  /* font-size: 0; */
  scale: 0;
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;

  animation-delay: 200ms;
}
.delay-300ms {
  /* font-size: 0; */
  scale: 0;
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;

  animation-delay: 300ms;
}
.delay-400ms {
  /* font-size: 0; */
  scale: 0;
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;

  animation-delay: 400ms;
}
.delay-500ms {
  /* font-size: 0; */
  scale: 0;
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;

  animation-delay: 500ms;
}
.delay-600ms {
  /* font-size: 0; */
  scale: 0;
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;

  animation-delay: 600ms;
}
.delay-700ms {
  /* font-size: 0; */
  scale: 0;
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;

  animation-delay: 700ms;
}
.delay-800ms {
  /* font-size: 0; */
  scale: 0;
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;

  animation-delay: 800ms;
}
.delay-900ms {
  /* font-size: 0; */
  scale: 0;
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;

  animation-delay: 900ms;
}

.animateAppear {
  animation: appear 0.5s ease-out 1;
  animation-fill-mode: forwards;
}

.fontDisappear-500ms {
  animation: disappearText 0.5s ease-out 1;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
  transform-origin: 0% 0%;
}
.animateDisappear-0ms {
  animation: disappear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;
}
.animateDisappear-100ms {
  animation: disappear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
  transform-origin: 0% 0%;
}
.animateDisappear-200ms {
  animation: disappear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
  transform-origin: 0% 0%;
}
.animateDisappear-300ms {
  animation: disappear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  animation-delay: 300ms;
  transform-origin: 0% 0%;
}
.animateDisappear-400ms {
  animation: disappear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
  transform-origin: 0% 0%;
}
.animateDisappear-500ms {
  animation: disappear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
  transform-origin: 0% 0%;
}
.animateDisappear-600ms {
  animation: disappear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
  transform-origin: 0% 0%;
}
.animateDisappear-700ms {
  animation: disappear 0.5s ease-out 1;
  animation-fill-mode: forwards;
  animation-delay: 700ms;
  transform-origin: 0% 0%;
}

/* ABOUT TEXT ENTRY & EXIT ANIMATIONS */
.about-delay-0ms {
  /* font-size: 0; */
  animation: aboutBox 1s 1;
  animation-fill-mode: forwards;
  transform-origin: left 0%;
  animation-delay: 0ms;
  animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
}
.about-animateDisappear-0ms {
  animation: aboutBoxDisappear 1s 1;
  animation-fill-mode: forwards;
  transform-origin: left 0%;
  animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
}

.timelineComp {
  position: relative;
}

.timelineCompAfter {
  position: absolute;
  top: 100%;
  left: 50%;
  height: 100px;
  width: 10px;
  background: linear-gradient(
    180,
    #16c599,
    #16c59900
  );
  content: none;
}

.tiles {
  animation: background-pan 5s linear infinite;
  /* background: linear-gradient(
    -70deg,
    var(--g1),
    var(--g2)
  ); */
  /* background-size: 400%; */
  transition: background-color 0.3s ease;
  transition-duration: 300;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

.tile {
  position: relative;
  opacity: 1;
  background-color: #00d2ff00;
}

.tile:before {
  /* background-color: rgb(20,20,20); */
  opacity: 1;
  content: "";
  position: absolute;
  transition: 0.2s ease;
  
}

.tile:hover:before {
  /* opacity: 0.5; */
  scale: 0.9;
  transition: 0.2s ease;
  /* transform-origin: 50% 50%; */
}

.tile:hover .linkbutton {
  transform-origin: center;
  scale: 150%;
  transition-duration: 0.15s ease;
}

.tile:active:before {
  opacity: 0.7;
  transition: 0.1s ease;
}

/* ABOUT BOX */
.aboutbox::-webkit-scrollbar {
  /* display: none; */
  width: 10px;
}
.aboutbox::-webkit-scrollbar-track {
  /* display: none; */
  background: #20202000;
}
.aboutbox::-webkit-scrollbar-thumb {
  /* display: none; */
  background: var(--g3);
}
.aboutbox {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* PROJECT BOX */
.projectbox::-webkit-scrollbar {
  /* display: none; */
  width: 10px;
}
.projectbox::-webkit-scrollbar-track {
  /* display: none; */
  background: #20202000;
}
.projectbox::-webkit-scrollbar-thumb {
  /* display: none; */
  background: var(--g5);
}
.projectbox {
  -ms-overflow-style: none;
  scrollbar-width: none;
}